body {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: larger;

    color: white;
    text-shadow: 2px 2px 2px black;
}

canvas {
    width: 100%;
    height: 100%;

    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.gena {
    display: none;
    height: 225px;
    width: 400px;

    position: fixed;
    top: 110px;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    background-image: url("loading/image/1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.centertext {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

    text-align: center;
}

.info {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 75%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

    text-align: center;
}

.info h5 {
    margin: 5px;
}

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

a:hover, a:active {
    color: aqua;
}

.info h5 {
    display: table;
    margin: 0 auto 5px auto;
    background-color: rgb(30, 30, 30);
    padding: 5px;
    border-radius: 5px;
}

.hlite {
    display: inline;
    background-color: rgb(30, 30, 30);
    padding: 5px;
    border-radius: 5px;
}

.centertext h1 button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    font-size: 35px;

    color: white;
    text-shadow: 2px 2px 2px black;

    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;

    background-color: rgb(30, 30, 30);
    border-radius: 5px;
}

.centertext h1, .centertext h2, .centertext h3, .centertext h4, .centertext h5, .centertext h6 {
    margin: 5px;
}